.testColors1 {
  color: #3a4750;
  color: #303841;
  color: #be3144;
}

.testColors2 {
  color: #222831;
  color: #393e46;
  color: #ffd369;
  color: #eeeeee;
}

.testColors3 {
  color: #f9e0ae;
  color: #fc8621;
  color: #c24914;
  color: #682c0e;
}
